.services {
  display: flex;
  flex-direction: column;
  gap: 80px;

  &-title {
    display: flex;
    gap: 40px;
  }

  &-subtitle {
    width: 580px;
  }

  &-cards-container {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
  }
}
