@use 'src/styles/colors';

.service-card {
  width: 600px;
  height: 310px;

  &__image {
    width: 210px;
    object-fit: contain;
  }

  &-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
