@use 'src/styles/colors';

.app {
  background: colors.$white;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-content {
    width: 1240px;
  }

  &__space {
    height: 40px;
  }

  &__header-placeholder {
    height: 128px;
  }

  &__about-us {
    margin: 50px 0 70px 0;
  }

  &__marquee {
    margin-bottom: 70px;
  }

  &__services {
    margin-top: 140px;
    margin-bottom: 123px;
  }

  &__free-proposal {
    margin-bottom: 163px;
  }

  &__case-studies,
  &__our-working-process,
  &__testimonials,
  &__contact-us {
    margin-bottom: 140px;
  }

  &__team {
    margin-bottom: 100px;
  }
}
