@use 'src/styles/colors';
@use 'src/styles/typography';

.typography {
  &__h1 {
    font-family: typography.$space-grotesk;
    font-weight: 500;

    &--desktop {
      font-size: 60px;
    }

    &--mobile {
      font-size: 43px;
    }
  }

  &__h2 {
    font-family: typography.$space-grotesk;
    font-weight: 500;

    &--desktop {
      font-size: 40px;
    }

    &--mobile {
      font-size: 36px;
    }
  }

  &__h3 {
    font-family: typography.$space-grotesk;
    font-weight: 500;

    &--desktop {
      font-size: 30px;
    }

    &--mobile {
      font-size: 26px;
    }
  }

  &__h4 {
    font-family: typography.$space-grotesk;
    font-weight: 500;

    &--desktop {
      font-size: 20px;
    }

    &--mobile {
      font-size: 18px;
    }
  }

  &__p {
    font-family: typography.$space-grotesk;
    font-weight: 400;

    &--desktop {
      font-size: 18px;
    }

    &--mobile {
      font-size: 16px;
    }
  }

  &--primary {
    color: colors.$black;
  }

  &--secondary {
    color: colors.$white;
  }

  &--accent {
    color: colors.$green;
  }

  @mixin highlight {
    border-radius: 7px;
    padding: 0 7px;
  }

  &--accent-highlight {
    @include highlight;
    background: colors.$green;
  }

  &--white-highlight {
    @include highlight;
    background: colors.$white;
  }
}
