@use 'src/styles/colors';
@use 'src/styles/typography';

.footer {
  padding: 55px 60px 50px 60px;
  background: colors.$dark;
  border-radius: 45px 45px 0 0;
  height: 514px;
  width: 1241px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 50px;

  &-navigation {
    display: flex;
    justify-content: space-between;
  }

  &__footer-navigation {
    margin-bottom: 16px;
  }

  &-social-icons {
    display: flex;
    gap: 20px;
  }

  &-navigation-links {
    display: flex;
    gap: 40px;
  }

  &-logo {
    height: 29px;
    width: 180px;
    color: colors.$white;
  }

  &-contacts-wrapper {
    display: flex;
    gap: 154px;
  }

  &-contact-us {
    display: flex;
    flex-direction: column;
    gap: 27px;
  }

  &-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &-subscribe-form {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 40px 58px;
    background: colors.$dark-grey;
    border-radius: 14px;
  }

  &-input {
    width: 285px;
    height: 68px;
    background: transparent;
    border: 1px solid colors.$white;
    border-radius: 14px;
    padding: 22px 35px;
    box-sizing: border-box;
    color: colors.$white;
    font-family: typography.$space-grotesk;
    font-size: 18px;

    &::placeholder {
      color: colors.$white;
      font-family: typography.$space-grotesk;
      font-size: 18px;
    }
  }

  &-signature {
    display: flex;
    gap: 40px;
  }

  &-link {
    text-decoration: underline;
    color: colors.$white;
    text-underline-offset: 2px;
  }
}
