@use 'src/styles/colors';
@use 'src/styles/typography';

.process {
  display: flex;
  flex-direction: column;
  gap: 80px;

  &-title {
    display: flex;
    gap: 40px;

    &__subtitle {
      width: 292px;
    }
  }

  &-accordion-title {
    display: flex;
    gap: 25px;
    align-items: center;
    font-family: typography.$space-grotesk;

    &__number {
      font-size: 60px;
      font-weight: 500;
    }

    &__text {
      font-size: 30px;
      font-weight: 500;
    }
  }
}
